/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 10px 30px 30px 30px;
}

.textContent {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.button-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    font-weight: bold;
}
  
.button-accordion.active, .button-accordion:hover {
    background-color: #e50914;
    color: #fff;
}
  
.textContent {

    transition: max-height 0.2s ease-out;
}
  
.button-accordion.active,
.button-accordion:focus:not(:focus-visible) {
    border: none;
}

h1, h2 {
    color: #e50914;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a {
    color: #e50914;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #b30000;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

nav {
    background-color: rgb(235, 65, 65);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
}

/* Lists */
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li, ol li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

ul li:before {
    content: "\2022";
    color: #e50914;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: -5px;
}

ol {
    counter-reset: item;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #e50914;
    font-weight: bold;
    position: absolute;
    left: 0;
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #e50914;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    background-color: #e50914;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}